<h1>Hello! welcome to research overview!</h1>

<h3>エネルギー環境学分野とは？</h3>

<p class="contents">エネルギー環境学分野では，化石燃料の燃焼をはじめ様々な人間活動に伴う環境への排出物質、特にエアロゾルと呼ばれる大気中に浮遊する微小な固体，液体粒子（PM2.5も含まれます）やその前駆体の環境動態と人の健康や気候変動などへのインパクトを分析・解明しています．また，その自然科学的成果と社会・経済分析手法の融合を図りながら，社会全体の環境負荷・影響低減の視点から，ライフサイクル思考の観点に立って，政策、意思決定に資するための人間活動の環境影響評価の研究を行っています</p>

<%= image_tag("overview_1", :size => '600x400') %>
