<h2>hello! Welcome to research work page!</h2>

<div class="news">
  <p class="table-title">Research Work List</p>
  <table class="table-mainBox">
    <tbody>
      <tr class="head">
          <th id="head-firstCol">
            published Year
          </th>
          <th id="head">
              Auther Name
          </th>
          <td class="data" id="head">
              Thesis Title
          </td>
      </tr>

      <% @thesis.each do |t| %>
      <tr>
          <td class="bar" colspan="6"></td>
      </tr>
      <tr>
        <th class="data-firstCol">
          <%= t.published_year_at %>
        </th>
        <th class="data-secondCol">
          <%= t.auther %>
        </th>
        <td class="data">
            <%= t.title %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
