<h2>hello! Welcome to research work page!</h2>

<div class="news">
  <p class="table-title">Research Work List</p>
  <table class="news-table">
    <tbody>
      <tr class="head">
          <th id="head">published Year</th>
          <td class="data fst" id="head">
              Thesis Title
          </td>
      </tr>

      <% @thesis.each do |t| %>
      <tr>
          <td class="bar" colspan="6"></td>
      </tr>
      <tr>
          <th>
            <%= t.published_year_at %>
          </th>
          <td class="data fst">
              <%= t.title %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
