
<div class="wrapper">
  <div id="contents">
    <h1>Members</h1></br>

    <!-- switch button -->
    <div class="btn-group" role="group" aria-label="Basic example" data-toggel="buttons">
        <button class="btn btn-primary" id="tea">Teachers &nbsp;
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-success" id="stu">Students &nbsp;
          <span class="glyphicon glyphicon-book"></span>
        </button>
        <button class="btn btn-warning" id="obog">OB/OG &nbsp;
          <span class="glyphicon glyphicon-user"></span>
        </button>
    </div></br>

    <div class="btn-group" role="group" aria-label="Basic example" data-toggel="buttons">
      <%= button_to 'Teachers', members_path(:category => 'tea'), :class => 'btn btn-primary',:method => :get, :remote => true %>
      <%= button_to 'Students', members_path(:category => 'stu'), :class => 'btn btn-success',:method => :get, :remote => true %>
      <%= button_to 'OB/OG', members_path(:category => 'obog'), :class => 'btn btn-warning',:method => :get, :remote => true %>
    </div>


    <div class="members-box"</div>

  </div>
</div>
