
<div class="wrapper">
  <div id="contents">
    <h1>Members</h1></br>

    <!-- switch button with button(html)-->
    <!-- <div class="btn-group" role="group" aria-label="Basic example" data-toggel="buttons">
        <button class="btn btn-primary" id="tea">Teachers &nbsp;
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-success" id="stu">Students &nbsp;
          <span class="glyphicon glyphicon-book"></span>
        </button>
        <button class="btn btn-warning" id="obog">OB/OG &nbsp;
          <span class="glyphicon glyphicon-user"></span>
        </button>
    </div></br> -->

    <!-- switch button with link_to-->
    <p>Push the button you want to know in this member's category</p>
    <div class="btn-group" role="group" aria-label="Basic example" data-toggel="buttons">
      <%= link_to 'Teachers ', members_path(:category => 'tea'), :class => 'btn btn-primary', :id => 'btn-0', :method => :get, :remote => true, :role => 'button' %>
      <%= link_to 'Students ', members_path(:category => 'stu'), :class => 'btn btn-success',:id => 'btn-1',:method => :get, :remote => true, :role => 'button' %>
      <%= link_to 'OB/OG ', members_path(:category => 'obog'), :class => 'btn btn-warning',:id => 'btn-2',:method => :get, :remote => true, :role => 'button' %>
    </div>

    <div class="members-box"></div>

  </div>
</div>
