
<button class="btn btn-primary">a</button>

<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= page_title %></title>
</head>
<body>
    <div class="wrapper"></div>
    <div id="contents">
      <h1>Members</h1>
        <!-- ここはlabo menberの個人紹介ページ -->
        <!-- ※現段階では個別のリンクを辿っているが、本当はココに全員分の紹介をしたい -->
        <div class="member-box">
          <table class="member-table">
            <tr>
              <td>あああ</td>
              <td>いいい</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>

        <%= link_to "nao", '/users/show/naotter' %>
    </div>
</body>
</html>
