<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= page_title %></title>
</head>
<body>
    <div class="wrapper">
      <div id="contents">
        <h1>Members</h1>
          <!-- ここはlabo menberの個人紹介ページ -->
          <div class="member-box">
            <table class="member-table">

              <!-- Making members table -->
              <!-- 引数は作りたcolumnの数 -->
              <% making_table(2) %>
            </table>
          </div>
      </div>
    </div>
</body>
</html>
