<%= stylesheet_link_tag "users_index", :media => "all" %>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Tohno Labo</title>
</head>
<body>
  <div class="wrapper"></div>
  <div class="contents">
    <h1>Members</h1>
    <ul>
      <li>あ</li>
      <li>い</li>
      <li>う</li>
      <li>え</li>
    </ul>
  </div>

</body>
</html>
