<%= javascript_include_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="wrapper">
  <div id="contents">
    <h1>Members</h1></br>

    <!-- switch button with link_to-->
    <p>Push the button you want to know in this member's category</p>
    <div class="btn-group" role="group" aria-label="Basic example" data-toggel="buttons">
      <%= link_to 'Teachers ', members_path(:category => 'tea'), :class => 'btn btn-primary', :id => 'btn-0', :method => :get, :remote => true, :role => 'button' %>
      <%= link_to 'Students ', members_path(:category => 'stu'), :class => 'btn btn-success', :id => 'btn-1', :method => :get, :remote => true, :role => 'button' %>
      <%= link_to 'OB/OG ', members_path(:category => 'obog'), :class => 'btn btn-warning', :id => 'btn-2', :method => :get, :remote => true, :role => 'button' %>
    </div>

    <div class="members-box">
      <!-- ここはlabo menberの個人紹介ページ -->
      <table class="members-table">

        <!-- Making members table -->
        <!-- 引数は作りたいcolumnの数 -->
        <% making_table(2) %>

      </table>
    </div>

  </div>
</div>
