<div id="dimension-switch" class="make-switch has-switch">
  <div class="switch-on switch-animate">
    <input type="checkbox" checked>
    <span class="switch-left switch-large">Teachers</span>
    <label class="switch-large"></label>
    <span class="switch-right switch-large">OB/OG</span>
    <input type="checkbox">
  </div>
</div>


<%= link_to "Teachers", members_teachers_path %>
&nbsp; | &nbsp; <%= link_to "Students", members_students_path %>
&nbsp; | &nbsp; <%= link_to "OB/OG", members_obog_path %>
