<div class="footer-contents darkAmber">
  <div class="footer-links">
    <%= link_to "About us", "#", :class => "text-success" %>
    &nbsp; | &nbsp; <%= link_to "History", "#", :class => "text-success" %>
    &nbsp; | &nbsp; <%= link_to "Links", "#", :class => "text-success" %>
    &nbsp; | &nbsp; <%= link_to "Contact", "#", :class => "text-success" %>
  </div>
  </br>
  <p id="copyRight">&copy; 2016 Nao Tsukamoto All Right Reserved.</p>
</div>
