<div class="footer-contents wolverine">
  <div class="footer-links">
    <%= link_to "About us", "#" , :class => "text-muted" %>
    &nbsp; | &nbsp; <%= link_to "History", "#" , :class => "text-muted" %>
    &nbsp; | &nbsp; <%= link_to "Links", "#" , :class => "text-muted" %>
    &nbsp; | &nbsp; <%= link_to "Contact", "#" , :class => "text-muted" %>
  </div>
  </br>
  <p id="copyRight">&copy; 2016 Nao Tsukamoto All Right Reserved.</p>
</div>
