/* line 5, /vagrant/laboHP/app/assets/stylesheets/inside/top.scss */
.header {
  border-bottom: solid 1px #f2f;
  height: 150px;
}

/* line 10, /vagrant/laboHP/app/assets/stylesheets/inside/top.scss */
#top-title {
  text-align: left;
}

/* line 14, /vagrant/laboHP/app/assets/stylesheets/inside/top.scss */
.top-link {
  display: inline;
}

/* line 18, /vagrant/laboHP/app/assets/stylesheets/inside/top.scss */
.top-main {
  text-align: center;
}
