body{
  font-family:meiryo sans-serif;
  color:green;
  text-align:center;
}

h1{
  color:red;
}

.member-table{
  margin:20px auto;
  border-collapse:separate;
  border-spacing:30px;
}

.member-table td{
  height:400px;
  width:400px;
  border:solid 1px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3); 
}

.member-table td:nth-child(odd){
  margin-right:20px;
  color:orange;
}
