// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-border{
  width: 800px;
  margin: auto;
  #map{
    width: 800px;
    height: 400px;
  }
}
