// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #A9A9A9;
$smoke-white: #f5f5f5;

.news{
  text-align:center;
  .contents-msg{
    margin: 50px 0px;
  }
}

.header{
  height:150px;
}

#top-title{
  text-align:left;
  color:red;
}

.top-link{
  display:inline;
}

.top-main{
  text-align:center;
}

// Carousel CSS
.carousel{
  height: 450px;
  width: 600px;
  margin:auto;
  margin-top:40px;
  .item{
    height: 100%;
    img{
      position: absolute;
      height:450px;
      width: 600px;
    }
  }
}

@media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:200px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:450px;
  }
}// Carousel CSS fin.

// search form css
.search-box{
  margin-top:80px;
  margin-bottom:10px;

  .form-control{
    width:400px;
    margin: 0 auto;
    display:inline;
  }

}

// news table css
.news{
  p.table-title{
    font-style:italic;
    margin-top:20px;
  }
  .table-mainBox{
    margin: 0 auto;
    width: 900px;
    border: none;
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
    border-collapse: separate;
    border-spacing: 0 10px;
    background:$smoke-white;

    tr.head{
      th#head, td#head{
        font-size:12px;
        font-family:bold;
        height:20px;
      }
      th#head-firstCol{
        font-size:10px;
      }
    }

    th{
      vertical-align: middle;
      height: 53px;
      border-right: solid 1px #666;
      margin: 0;
      text-align: center;
      color: #333;
      font-size: 12px;
    }
    th.data-firstCol{
      width: 10%;
    }
    th.data-secondCol{
      width: 20%;
    }

    td.data{
      padding: 0;
      margin: 0;
      height: 53px;
      width: 70%;
      border: none;
      color: #666;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
    }
    td.bar{
      height: 1px;
      width: 100%;
      border-top: solid 1px #34495e;
    }
  } // news table css fin.
}
