
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "partials/*";

$azure: #F0FFFF;
$greenYellow: #ADFF2F;

html,body{
  height:100%;
}

div#container{
  position:relative;
  height:100%;
  height:auto !important;
  min-height:100%;
  div#contents{
    padding-bottom:150px;
  }
}

div#footer{
  position:absolute;
  background-color: $greenYellow;
  height:150px;
  width:100%;
  // bottom:0;
  padding-top:30px;
}



#logo{
  margin-right: 20px;
}

#site-title{
  family-weight: bold;
}

hr#header-bottom{
  margin:30px 30px;
}

div#header{
  background-image:url("header.jpg");
  height:150px;
}

div.layerTransparent{
  background-color: rgba(255,255,255,0.8);
}

p.footer-logo{
  font:30px bold;
}

// breadcrumb
ul.breadcrumb{
  text-align:left;
  background:transparent;
  
  li+li:before{
    content: "≫";
  }
}
