
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap3-switch";
@import "bootstrap2-switch";
@import "bootstrap";
@import "partials/*";
@import "hue/*";

$azure: #F0FFFF;
$greenYellow: #ADFF2F;
$mediumAquaGreen: #66cdaa;
$aquaMarine: #7fffd4;

html,body{
  height:100%;
}

div#container{
  position:relative;
  height:100%;
  height:auto !important;
  min-height:100%;
  div#contents{
    padding-bottom:150px;
  }
}

div#footer{
  position:absolute;
  height:75px;
  width:100%;
  // bottom:0;
  padding-top:30px;
}

div.footer-contents{
  color:white;
  font-family:monospace;
  padding:5px;
  #copyRight{
    font-size: 10px;
    font: #000;
  }


}



#logo{
  margin-right: 20px;
}



#site-title{
  family-weight: bold;
}

hr#header-bottom{
  margin:30px 30px;
}

div#header{
  background-image:image-url("header.jpg");
  height:150px;
}

div.layerTransparent{
  background-color: rgba(255,255,255,0.8);
}



// breadcrumb
ul.breadcrumb{
  text-align:left;
  background:transparent;

  li+li:before{
    content: "≫";
  }
}

//button of backing to pagetop with bootstrap
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 80%;
    border-radius: 10px;
    //pageTopボタンを最前面へ
    z-index:1;

    a {
        // background: $mediumAquaGreen;
        text-decoration: none;
        color: #ffe;
        width: 100px;
        padding: 25px 0;
        text-align: center;
        display: block;
        &:hover{
          text-decoration: none;
          background: $aquaMarine;
          cursor:pointer;
          border-radius: 10px;
        }
      }
}//button of backing to pagetop with bootstrap fin.
