// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.container{
  text-align:center;
}

.header{
  height:150px;
}

#top-title{
  text-align:left;
}

.top-link{
  display:inline;
}

.top-main{
  text-align:center;

}
