<!-- determining js url for googlemap -->
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyCFRoUpF1tr1fr5KFwjvRIa7HkI3agNtcY"></script>

<h2>Location of Tohno labo</h2>

<p>総合研究10号館 3F</p>

<div id="map-border">
  <div id="map"></div>
</div>

<!--アクセス情報を記載する -->



<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      // 初期表示の縮尺を変更する
      handler.getMap().setZoom(17);
    });
</script>
